@font-face {
	font-family: 'segoeui';
	src: url('segoeui/SegoeUI-Light.eot');
	src: local('Segoe UI Light'), local('SegoeUI-Light'),
		url('segoeui/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('segoeui/SegoeUI-Light.woff') format('woff'),
		url('segoeui/SegoeUI-Light.ttf') format('truetype');
	font-weight: 400;
    font-style: normal;
}

a, 
button {
    font-family: "segoeui";
}

a {
    text-decoration: none;
}

ul,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

.bg-pink{
    position: absolute;
    z-index: -1;
    width: 100%;
    max-height: 590px;

}

.container {
    max-width: 1024px;
    margin: auto;

}

.header {
    background: #ffffffe6;
    padding: 20px 15px;
    box-shadow: 0 1px 4px #00000057;

}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    margin-left: auto;
}

.header__menu {
    margin-right: 40px;
    display: flex;
}

.header__menu-link {
    display: block;
    padding: 10px 18px;
    color: #454545;
    font-weight: bold;
    font-size: 17px;
    opacity: 0.75;

}

.header__menu-link :hover {
    text-decoration: underline;
}

.header__login {
    background: #de6d6e;
    border: none;
    padding: 5px 15px;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.header__login:hover {
    background:#d65758;
}

.header__login-icon {
    margin-right: 5px;
}

.header__menu-item:last-child .header__menu-link {
    padding-right: 0;
}

.banner {
   color: white;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 280px;
   margin-bottom: 85px;
}

.banner__main {
    font-size: 70px;
    text-transform: uppercase;
    margin: 0 0 18px 0;
}

.banner__text {
    font-size: 25px;
    margin: 0;
    font-weight: normal;
}

@media(max-width: 740px) {
    .header__menu,
    .header__main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__nav,
    .header__menu {
        margin: auto;
    }
    .header__menu-item:last-child,
    .header__menu-link {
        padding-right: 18px;
    }
    
    .banner {
        margin-top: 3%;
        margin-bottom: 22px;
        padding: 0 15px;
    }

    .banner__main {
        font-size: 30px;
        margin: 0 0 10px 0;

    }

    .banner__text {
        font-size: 18px;
    }


    
}